@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
    height: 100%;
}
body  {
    margin: 0 50px;
    font-family: Roboto, sans-serif;
    background: linear-gradient(#0a001d, #44007c);
    background-repeat: no-repeat;
    background-position: left top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body > * {
    display: flex;
    flex-direction: column;
}
main {
    margin: 0;
    width: 50%;
}
a {
    text-decoration: none;
    color: white;
}

.photo {
    display: flex;
    flex-direction: column;
    margin: 25px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}
.photo h1 {
    color: rgb(112, 0, 163);
    font-size: 17px;
}
.photo img {
    height: 100%;
    border-radius: 50%;
}
.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    margin: 20px 0 50px 0;
    text-shadow: 0px 1px black;
}
.tiret {
    border-top: 2px solid white;
    width: 250px;
    margin-top: 20px;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    border: 2px solid white;
    border-radius: 20px;
    margin: 25px 10px 25px 10px;
}
.button:hover {
    background-color: rgb(66, 0, 83);
    transition: ease-in-out .15s;
}
.button:not(:hover) {
    background-color: inherit;
    transition: .15s ease-in-out;
}
.button a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.signature p {
    margin: 50px 10px 20px 10px;
    font-size: 12px;
    color: white;
    text-align: center;
}
.signature a {
    font-size: 14px;
}